*{
    padding: 0px;
    margin: 0px;
    font-size: 13px;
    box-sizing: border-box;
}

input{
    height: 38px;
    width: 100%;
}

button{
    height: 38px;
    width: 120px;
    border: 1px solid #ecedec;
    border-radius: 5px;
    background: #4482ff;
    color: #ecedec;
}

.chat-container{
    width: 100%;
    height: calc(100vh - 38px);
}

.current-conversation{
    height: 100%;
}

.list-messages{
    padding: 10px;
    height: calc(100% - 38px);
    overflow-y: scroll;
}

.list-messages>*{
    margin-bottom: 10px;
}

.message>span{
    word-break: break-word;
    max-width: 50%;
    display: inline-block;
    padding: 10px;
    border: 1px solid #4482ff;
    border-radius: 5px;
    color: #4482ff;
}

.your{
    text-align: right;
}

.form-add-message{
    display: flex;
}

.form-add-message>.input-wrapper{
    width: 100%;
}

/* nav */

.main-nav{
    height: 38px;
    display: flex;
    justify-content: flex-end;
    background: #4482ff;
    color: #ffffff;
}
